body {
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  position: relative;
}

#app {
  height: 100%;
}

a {
  color: white;
  &:hover, &:focus {
    color: white;
    text-decoration: underline;
  }
}
